h1{
    color :darkgreen;
    text-align: center;
    justify-content: center;
    flex: auto;
    
}
body{
    background-color: beige; text-align: center;
    justify-content: center;
    flex: auto;
    display: flex;
    align-items: center;

}
ul{
    list-style-position: inside;
    text-align: center;
    justify-content: center;
    flex: auto;
    padding: 0;
}

li{
    margin: 10px 0;
    }

.container{
    border: 2px solid darkgreen;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}